.dropdown-container {
    text-align: left;
    border: 1px solid #EDC988;
    position: relative;
    border-radius: 5px;
  }
  
  .dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  .dropdown-options {
    margin-left: 5px;
  }

  .dropdown-item.selected {
    background-color: #EDC988;
    color: #000000;
}

  .dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #EDC988;
    overflow: auto;
    max-height: 150px;
    background-color: #F8EFD4;
  }

  .dropdown-item {
    padding: 5px;
    cursor: pointer;
  }

    .dropdown-item:hover {
        background-color: #fce1b0;
    }
    .dropdown-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .dropdown-tag-item {
        background-color: #ddd;
        padding: 2px 4px;
        border-radius: 2px;
        display: flex;
        align-items: center;
    }
    .dropdown-tag-close {
        display: flex;
        align-items: center;
    }